.tasks {
    padding-top: 7.63vw;
    height: 100vh;
    /* Full height for the main container */
    display: flex;
    flex-direction: column;
}

.header {
    flex-shrink: 0;
    /* Prevents shrinking of the header */
}

.tasks_list {
    flex-grow: 1;
    /* Takes remaining space */
    overflow-y: auto;
    /* Enables vertical scrolling */
    display: flex;
    flex-direction: column;
    gap: 2.54vw;
    margin-top: 9.92vw;
    padding-right: 1rem;
    /* Adds padding to avoid scrollbar overlap */
}

/* Task item styles */
.task {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task img {
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
    border-radius: 5px;
}

.task_name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.task_price {
    margin-left: auto;
    font-size: 1rem;
    color: #666;
}